@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #2e9062;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #2e9062;
  --font-sans: var(--font-theseasons);
  --font-mono: var(--font-geist-mono);



  @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  --animate-fade-in-up: fade-in-up 0.8s ease-out;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --background: #020202;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}

@layer base {
  body {
    font-family: var(--font-theseasons);
  }
}

/* @layer utilities {
  .font-seasons {
    font-family: var(--font-theseasons);
  }
} */

@layer utilities {
  .text-primary {
    color: var(--color-primary);
  }

  .bg-primary {
    background-color: var(--color-primary);
  }

  .border-primary {
    border-color: var(--color-primary);
  }
}





